.T1 {
    text-align: center;
    margin: 25%;
    padding: 25px;
    background-color: aquamarine;
}
.grid-container {
    display: grid;
    background-color: aquamarine;
    margin: -25%;
}
.grid-item {
    background-color: bisque;
    width: 50%;
    margin: 25%;
    outline-style: groove;
    text-align: center;
    }
.img {
    width: 90%;
    margin: 5%;
    }
.grid-item2 {
    background-color: bisque;
    width: 100%;
    align-content: center;
    }
.img2 {
    width: 50%;
    }
.btn2 {
    width: 50%;
}
.grid-item3 {
    background-color: bisque;
    width: 100%;
    align-content: center;
    }
.img3 {
    width: 50%;
    }
.btn3 {
    width: 50%;
}