body {
    height: 100%;
    margin: 0%;
    display: grid;
}
.T1 {
    text-align: center;
    margin: 40px;
    padding: 10px;
    background-color: aquamarine;
}
.grid-container {
    display: grid;
    background-color: aquamarine;
}
.grid-item {
    background-color: bisque;
    width: 50%;
    margin: 25%;
    }
.img {
    width: 50%;
    margin: 25%;
    }
.btn {
    width: 50%;
    margin: 25%;
}
.grid-item2 {
    background-color: bisque;
    width: 100%;
    align-content: center;
    }
.img2 {
    width: 50%;
    }
.btn2 {
    width: 50%;
}
.grid-item3 {
    background-color: bisque;
    width: 100%;
    align-content: center;
    }
.img3 {
    width: 50%;
    }
.btn3 {
    width: 50%;
}